<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coinstracker</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"
      integrity="sha512-xiunq9hpKsIcz42zt0o2vCo34xV0j6Ny8hgEylN3XBglZDtTZ2nwnqF/Z/TTCc18sGdvCjbFInNd++6q3J0N6g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="app.js" defer></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <h1 id="title">coins<span>tracker</span></h1>
      <div id="nologin" v-if="!loggedin">
        <div id="loginform">
          <form v-on:submit.prevent="handleLogin">
            <fieldset>
              <legend>LOGIN</legend>
              <input
                type="text"
                placeholder="username"
                v-model="loginUsername"
              />
              <input
                type="password"
                placeholder="password"
                v-model="loginPassword"
              />
              <input type="submit" value="login" />
            </fieldset>
          </form>
          <form v-on:submit.prevent="handleSignup">
            <fieldset>
              <legend>Create User</legend>
              <input
                type="text"
                placeholder="username"
                v-model="createUsername"
              />
              <input
                type="password"
                placeholder="password"
                v-model="createPassword"
              />
              <input type="submit" value="create user" />
            </fieldset>
          </form>
        </div>
      </div>
      <div id="login" v-if="loggedin">
        <div id="forms">
          <article>
            <h1>New Coin</h1>
            <input type="text" v-model="newTodo" />
            <button v-on:click.prevent="createTodo">CREATE</button>
          </article>
          <article>
            <h1>Update Coin</h1>
            <input type="text" v-model="updateTodo" />
            <button v-on:click.prevent="editTodo" v-bind:id="editID">
              UPDATE
            </button>
          </article>
        </div>
        <div id="todos">
          <div class="todo" v-for="todo of todos">
            <h1>{{coin.ticker}}</h1>
            <button v-bind:id="todo.id" v-on:click="deleteTodo">DELETE</button>
            <button v-bind:id="todo.id" v-on:click="editSelect">UPDATE</button>
          </div>
        </div>
        <button v-on:click="handleLogout" id="logout">LOGOUT</button>
      </div>
    </div>
  </body>
</html>
